* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}

.banner span {
    display:flex;
    align-items: flex-end;
}
    .banner span h1 {
        margin-right: 20px;
    }
    .banner span p {
        font-weight: bold;
        color: #868686;
    }