<!-- post.html -->
<link rel="stylesheet" href="/css/components/post.css">

<div class="container">
    <div class="blog-grid">
        <!-- <div class="blog-grid-img position-relative"><img alt="img" src="https://www.bootdey.com/image/480x480/00FFFF/000000"></div> -->
        <div class="blog-grid-text p-4">
            <h3 class="h5 mb-3"><a href="/user/{{ post.username }}/post/{{ post.post_id }}">{{ post.title }}</a></h3>
            <p class="display-30">{{ post.body }}</p>
            <div class="meta meta-style2">
                <ul class="meta">
                    <div class="top-half">
                        <li><i class="fas fa-calendar-alt"></i> {{ post.created_at }}</li>
                        <li><a href="/user/{{ post.username }}"> {{ post.name }} - {{ post.username }}</a></li>
                    </div>
                    <div class="bottom-half">
                        <ul>
                            <li>
                                <div class="comment-button">
                                    <i class="fas fa-comments"></i>
                                    <div class="comment-count">{{ post.comment_count }}</div>
                                </div>
                            </li>
                            <li>
                                <div class="like-button" onclick="likePost('{{ post.post_id }}', {{ post.is_liked }}, this)">
                                    <i class="fa-regular fa-heart {% if post.is_liked %}fa-solid{% endif %} heart"></i>
                                    <div class="like-count">{{ post.like_count }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </ul>                
            </div>
        </div>
    </div>
</div>

<script>
    function likePost(postId, isLiked, clickedElement) {
        const heartIcon = $(clickedElement).find('.heart');
        const likeCountElement = $(clickedElement).find('.like-count');
        let likeCount = parseInt(likeCountElement.text());
        const currentLikeStatus = heartIcon.hasClass('fa-solid');

        // Toggle the 'fa-solid' class for the heart icon
        heartIcon.toggleClass('fa-solid');

        // Update the like count
        if (!currentLikeStatus) {
            likeCount += 1;
            heartIcon.removeClass('fa-regular');
        } else {
            likeCount -= 1;
            heartIcon.addClass('fa-regular');
        }
        likeCountElement.text(likeCount);

        // Prepare AJAX request data
        const newLikeStatus = !currentLikeStatus;
        const action = newLikeStatus ? 'like' : 'unlike';
        const url = "/like/" + postId + "/" + action;

        // Send an AJAX request to handle the like/unlike action
        $.ajax({
            url: url,
            type: 'POST',
            success: function(data) {
                if (!data.success) {
                    // Revert like count and icon state if request failed
                    heartIcon.toggleClass('fa-solid');
                    heartIcon.toggleClass('fa-regular');
                    likeCount = newLikeStatus ? likeCount - 1 : likeCount + 1;
                    likeCountElement.text(likeCount);
                }
            },
            error: function() {
                // Revert like count and icon state if request failed
                heartIcon.toggleClass('fa-solid');
                heartIcon.toggleClass('fa-regular');
                likeCount = newLikeStatus ? likeCount - 1 : likeCount + 1;
                likeCountElement.text(likeCount);
            }
        });
    }
</script>



