<!-- post.html -->
<link rel="stylesheet" href="/css/components/post.css">

<div class="container">
    <div class="blog-grid">
        <!-- <div class="blog-grid-img position-relative"><img alt="img" src="https://www.bootdey.com/image/480x480/00FFFF/000000"></div> -->
        <div class="blog-grid-text p-4">
            <h3 class="h5 mb-3"><a href="/user/{{ post.username }}/post/{{ post.post_id }}">{{ post.title }}</a></h3>
            <p class="display-30">{{ post.body }}</p>
            <div class="meta meta-style2">
                <ul class="meta">
                    <div class="top-half">
                        <li><a href="/user/{{ post.username }}"> {{ post.name }} - @{{ post.username }}</a> • <span class="created_at">{{ post.created_at|parse_datetime }}</span></li>
                    </div>
                    <div class="bottom-half">
                        <div class="left-buttons">
                            <a class="comment-button" href="/user/{{ post.username }}/post/{{ post.post_id }}#comments">
                                <i class="fas fa-comments"></i>
                                <div class="comment-count">{{ post.comment_count }}</div>
                            </a>
                            <div class="like-button" onclick="likePost('{{ post.post_id }}', {{ post.is_liked }}, this)">
                                <i class="fa-regular fa-heart {% if post.is_liked %}fa-solid{% endif %} heart"></i>
                                <div class="like-count">{{ post.like_count }}</div>
                            </div>
                        </div>
                        {% if post.user_id == _self.oid %}
                        <div class="remove-button" onclick="deletePost('{{ post.post_id }}', this)">
                            <i class="fas fa-trash"></i>
                        </div>
                        {% endif %}
                    </div>
                </ul>                
            </div>
        </div>
    </div>
</div>

<script>
    function deletePost(postId, clickedElement) {
        if (!confirm("Are you sure you want to delete this post?")) {
            return; // If the user cancels, do nothing
        }
        const postElement = $(clickedElement).closest('.blog-grid');
        const url = "/delete-post/" + postId;

        // Send an AJAX request to delete the post
        $.ajax({
            url: url,
            type: 'POST',
            success: function(data) {
                if (data.success) {
                    // Remove the post element from the page
                    window.location.href = '/';

                }
            },
            error: function() {
                // Show an alert if the request fails
                alert("Failed to delete post. Please try again later.");
            }
        });
    }

    function likePost(postId, isLiked, clickedElement) {
        const heartIcon = $(clickedElement).find('.heart');
        const likeCountElement = $(clickedElement).find('.like-count');
        let likeCount = parseInt(likeCountElement.text());
        const currentLikeStatus = heartIcon.hasClass('fa-solid');

        // Toggle the 'fa-solid' class for the heart icon
        heartIcon.toggleClass('fa-solid');

        // Update the like count
        if (!currentLikeStatus) {
            likeCount += 1;
            heartIcon.removeClass('fa-regular');
        } else {
            likeCount -= 1;
            heartIcon.addClass('fa-regular');
        }
        likeCountElement.text(likeCount);

        // Prepare AJAX request data
        const newLikeStatus = !currentLikeStatus;
        const action = newLikeStatus ? 'like' : 'unlike';
        const url = "/likepost/" + postId + "/" + action;

        // Send an AJAX request to handle the like/unlike action
        $.ajax({
            url: url,
            type: 'POST',
            success: function(data) {
                if (!data.success) {
                    // Revert like count and icon state if request failed
                    heartIcon.toggleClass('fa-solid');
                    heartIcon.toggleClass('fa-regular');
                    likeCount = newLikeStatus ? likeCount - 1 : likeCount + 1;
                    likeCountElement.text(likeCount);
                }
            },
            error: function() {
                // Revert like count and icon state if request failed
                heartIcon.toggleClass('fa-solid');
                heartIcon.toggleClass('fa-regular');
                likeCount = newLikeStatus ? likeCount - 1 : likeCount + 1;
                likeCountElement.text(likeCount);
            }
        });
    }
</script>



